body{
	padding: 5px 25px 5px 5px;
	background: #EEE;
	font-family: Arial;
	font-size: 0.8em;
}

#tabs {
	position: relative; 
	top: 0px;
	left: 1px;
	z-index: 2;
	background: yellow;
}

#tabs a {
	display: block;
	float: left;
	z-index: 10;
	margin: 0 0 0 -1px;
	padding: 2px 5px;
	color: #222;
	text-decoration: none;
	background: #DDD;
	border: 1px solid #AAA;
}

#tabs a.tab_selected {
	background: white;
	border-top: 1px solid #AAA;
	border-right: 1px solid #AAA;
	border-bottom: 1px solid white;
	border-left: 1px solid #AAA;
}

#tabs a:hover { background: lemonchiffon; }
#tabs a.tab_selected:hover { background: white; }

#main {
	float: left;
	z-index: 1;
	width: 100%;
	overflow: hidden;
	min-height: 100px;
	margin: -1px 0 0 0;
	padding: 10px;
	background: white;
	border: 1px solid #AAA;
}

table.grid_debug {
	width: 100%;
	margin: 0;
	border-collapse: collapse;
	border-top: 1px dotted #AAA;
	border-left: 1px dotted #AAA;
}

table.grid_debug td {
	border-right: 1px dotted #AAA;
	border-bottom: 1px dotted #AAA; 
	font-size: 0.8em;

}

table.grid {
	width: 100%;
	margin: 0;
	border-collapse: collapse;
	border: 0;
}

table.grid td {
	border: 0;
	font-size: 0.8em;

}

label {margin: 0 10px;}
