body {
	background: url('bg_body.gif');
	padding: 10px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #3C3C3C;
}

h1 {
	font-family: Arial;
	font-size: 22px;
	color: #D55000;
	border-bottom: 1px solid #CBCBCB;
	padding-bottom: 3px;
	margin-bottom: 3px;
}

h2 {
	font-size: 18px;
	color: #3c3c43;
	border-bottom: 1px solid #CBCBCB;
	margin-top: 20px;
}

/* === Breadcrumb ======================================================= */

#breadcrumb { 
	display: block;
	margin: 0 0 30px -30px;
}

#breadcrumb ul { list-style: none; }

.crumbs { display: block; }
.crumbs li {  display: inline; }
.crumbs li.first { padding-left: 8px; }
.crumbs li a, .crumbs li a:link, .crumbs li a:visited { 
	color: #666; 
	display: block; 
	float: left; 
	font-size: 1em; 
	margin-left: -13px; 
	padding: 7px 17px 11px 25px; 
	position: relative; 
	text-decoration: none;
}

.crumbs li a { 
	background-image: url('bg_crumbs.png');
	background-repeat: no-repeat;
	background-position: 100% 0;
	position: relative;
}

.crumbs li a:hover {
	color: #333;
	background-position: 100% -48px;
	cursor: pointer;
}

.crumbs li a:active {
	color: #333;
	background-position: 100% -96px;
}

.crumbs li.first a span {
	height: 29px;
	width: 3px;
	border-left: 1px solid #d9d9d9;
	position: absolute;
	top: 0px;
	left: 0px;
}

/* === Main ============================================================= */

#main {
	border: 1px solid #D1D1D1;
	padding: 20px 30px;
	background: white;
}

#MLab_logo {
	display: block;
	float: right;
	width: 30px;
	height: 25px;
	background: url('MLab.png');
}

#hline {
	font-family: "futura-pt-n4","futura-pt","Arial","Helvetica",sans-serif;
	font-size: 14px;
	color: #555651;
}
